/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Roboto+Slab:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Fugaz+One&family=Roboto+Slab:wght@200&display=swap');

*{
    box-sizing: border-box;    
    
}

.Nomi {
    color: rgb(255, 255, 255);
    background-color:rgba(255, 0, 0, 0.682);
}

header h1{
  
    text-align: center;
    font-size: 130px;
    font-family: 'Alfa Slab One', cursive;
    flex-wrap: nowrap;


    
}


html, body{
    margin: 0px;
    padding: 0px;
    background-color:#f5d325;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}


.grid-container{
    
    /* border: 1px solid green; */
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(6, 1fr) ;
    grid-template-areas:
    ". . . . . ."
    ". . . a1 . ." 
    ". a4 a4 a1. ." 
    ". . a3 a2 a2." 
    ". . a3 . . ." 
    ". . . . . .";
    
}

.arm{
    border: 10px solid #2385b0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    border-radius: 100px 100px 100px 100px;
}

.a1{
    
    grid-area: a1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    text-align: center;
    

}

.a2{
    grid-area: a2;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: left; */
    image-orientation: cover;
}

.a3{
    grid-area: a3;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: flex-end; */
}

.a4{
    grid-area: a4;
    display: flex;
    flex-direction: row;
    
    /* justify-content: right; */
}

.arm-img{
    width: 10.66vw;
    height: 10.66vw;
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.arm-text{
    
    width: 10.66vw;
    height: 10.66vw;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;


}

@media only screen and (max-width: 1000px) {
    .grid-container{
        width: 100vw;
        height: 200vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "a4 a4"
            "a3 a1"
            "a3 a1"
            "a2 a2"
    }

    .arm-img{
        width: 20vw;
        height: 20vw;
    }
    
    .arm-text{
        width: 50vw;
        height: 50vw;

    }
}

@media only screen and (max-width: 600px) {
    .grid-container{
        width: 100vw;
        height: 800vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
            "a1"
            "a1"
            "a2"
            "a2"
            "a3"
            "a3"
            "a4"
            "a4";
    }

    .arm-img{
        width: 100vw;
        height: 100vw;
        
    }
    
    .arm-text{
        width: 100vw;
        height: 100vw;
        
    
    }
    
    .arm{
        /* flex-direction: column; */
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
.John_Lennon{
    text-align: center;
    font-size: xx-large;
    height: 300px;
    background-color: #00A6ED;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}   

.Paul_McCartney{
    text-align: center;
    font-size: xx-large;
    height: 300px;
    background-color: #F6511D;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}



.George_Harrison{
    text-align: center;
    font-size: xx-large;
    height: 300px;
    background-color: #7FB800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


.Ringo_Starr{
    text-align: center;
    font-size: xx-large;
    height: 300px;
    background-color: #DFF8EB;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.background{
    
    background-image: url(./assets/submarine.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-position: center 220px;
    /* background-size: 100% 100%; */
    /* background-position: buttom ; */

}

.home{
    color: rgba(247, 247, 247, 0.552);
    background-color: red;
    text-decoration: none;
    border-radius: 20px;
    
}

a{
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    text-decoration: none;
    border-radius: 20px;

}